@model Watosik.Domain.Entities.Weather

<div class="weather-widget">
    <i class="fas fa-cloud-sun"></i>
    <span>@Model.Description</span> |
    <span>@Model.Temperature°C</span> |
    <span>Obowiązujący strój: @ViewBag.WeatherOutfit</span> |
</div>
