<h1>Bieg na 3000 m w stroju sportowym</h1>
<p>Odbywa się w stroju sportowym, zasadniczo na placu ćwiczeń taktycznych lub w razie
niesprzyjających warunków na bieżni lekkoatletycznej. Prowadzi się seriami (grupami) na czas.
Grupa powinna liczyć do 30 ćwiczących. Na komendę „Start” lub sygnał grupa ćwiczących
rozpoczyna bieg. Czas mierzy się z dokładnością do 1 sekundy od sygnału startu do momentu
przekroczenia linii mety.</p>

<h1>Bieg na 3000 m w umundurowaniu polowym</h1>
<p>
    Odbywa się w umundurowaniu polowym w trzewikach będących na wyposażeniu żołnierzy
SZ RP stacjonujących w kraju. Zabrania się wprowadzania zmian technologicznych
umundurowania i obuwia. Test prowadzi się na placu ćwiczeń taktycznych. Prowadzi się
seriami (grupami) na czas. Grupa powinna liczyć do 30 ćwiczących. Na komendę „Start” lub
sygnał grupa ćwiczących rozpoczyna bieg. Czas mierzy się z dokładnością do 1 sekundy od
    sygnału startu do momentu przekroczenia linii mety.
</p>


<h1>Bieg na 3000 m w umundurowaniu polowym z bronią</h1>
<p>
    Odbywa się w umundurowaniu polowym z pasem taktycznym (lub kamizelką taktyczną)
z czterema magazynkami, w trzewikach będących na wyposażeniu żołnierzy SZ RP
stacjonujących w kraju oraz z karabinkiem etatowym. Zabrania się wprowadzania zmian
technologicznych umundurowania i obuwia. Test prowadzi się na placu ćwiczeń taktycznych.
Nie dopuszcza się żadnego dodatkowego wyposażenia, np. plecaka. Prowadzi się seriami
(grupami) na czas. Seria powinna liczyć do 30 ćwiczących. Na komendę „Start” lub sygnał
grupa ćwiczących rozpoczyna bieg. Czas mierzy się z dokładnością do 1 sekundy od sygnału
    startu do momentu przekroczenia linii mety.
</p>


<h1>Bieg przedłużony na 800 / 1000 m</h1>
<p>
    Rekomenduje się przeprowadzenie próby na bieżni lekkoatletycznej. Jeżeli nie ma bieżni, bieg
można wykonać na równym twardym podłożu. Wskazane jest wówczas wytyczenie
zamkniętego toru o odpowiedniej długości, bez ostrych zakrętów. Ćwiczący staje w pozycji
wykrocznej przed linią startową (tzw. start wysoki) i na sygnał przebywa wyznaczony dystans
w jak najkrótszym czasie. Trasa powinna być płaska i w dobrym stanie. Przed próbą należy
przeprowadzić kilkanaście treningów, w celu odpowiedniego przygotowania ćwiczących do
określonego wysiłku oraz poznania przez nich własnych możliwości (rozłożenie sił, tempo
biegu). Ćwiczący wykonuje jedną próbę. Uzyskany czas biegu zapisuje się z dokładnością do
    1 s. Wynik ten jest miarą próby.
</p>


<h1>Bieg na dystansie 50 m</h1>
<p>
    Na komendę „na miejsca” ćwiczący staje nieruchomo przed linią startową w pozycji
wykrocznej (tzw. start wysoki). Na sygnał wybiega i z największą prędkością przebywa
wyznaczony dystans, który powinien być dłuższy niż 50 m, np. wynosić 60 m. Wynik mierzy
się w momencie przekroczenia linii 50 m. Sygnałem do startu może być znak, dobrze widoczny
dla mierzących czas lub sygnał gwizdkiem. Jednocześnie może biec maksymalnie trzech
ćwiczących, ale wtedy każdy z nich musi mieć oddzielnego chronometrażystę. Teren powinien
być dobrze przygotowany i odpowiednio oznakowany. Warunki atmosferyczne – bez
nadmiernego wiatru, deszczu i skrajnych temperatur. Miarą próby jest czas mierzony
    z dokładnością do 0,1 s.
</p>

