<div>
    <h3>Pokonywanie przeszkód Biegowego Testu Siłowego (Rys. 4)</h3>
    <p>
        Biegowy Test Siłowy zasadniczo pokonuje się na zewnętrznym torze przeszkód.
        W przypadku braku takiej możliwości – w małej hali nr 59 (sprzęt rozstawiony zgodnie z rys. 3).
    </p>
    <p>
        Na komendę <strong>„Gotów”</strong> ćwiczący przyjmuje pozycję wyjściową (leżenie tyłem na materacu,
        stopy zaczepione o dolny szczebel drabinki, nogi wyprostowane w stawach kolanowych, piłka
        lekarska (3 kg) trzymana za głową na wyprostowanych ramionach).
        Na komendę <strong>„Start”</strong> lub sygnał dźwiękowy ćwiczący wykonuje:
    </p>
    <ul>
        <li>
            <strong>5 skłonów w przód:</strong>
            z dotknięciem piłką dolnego szczebla drabinki i powrotem do pozycji wyjściowej.
            (Dozwolone jest ugięcie ramion i nóg po komendzie „Start”, a także odrywanie bioder od materaca.)
        </li>
        <li>
            <strong>Bieg slalomem:</strong>
            między pięcioma chorągiewkami o wysokości 160 cm, ustawionymi co 2,5 m,
            z dwoma ciężarkami 17,5 kg (kobiety – 9 kg), na dystansie 20 m (2 x 10 m).
        </li>
        <li>
            <strong>Skok tygrysi:</strong>
            przez piłkę lekarską ułożoną na materacu.
        </li>
        <li>
            <strong>Podciąganie na drążku:</strong>
            w zwisie nachwytem – 3 razy (kobiety 1 raz) – pierwsze z wyskoku, następne ze zwisu
            (min. wys. drążka 220 cm, dla kobiet: 200 cm).
        </li>
        <li>
            <strong>Przewrót w przód:</strong>
            na skrzyni wzdłuż (4 części).
        </li>
        <li>
            <strong>Przejście w podporze:</strong>
            na ramionach po żerdziach poręczy (wyskok i pierwszy chwyt przed podporami, ostatni chwyt
            i zeskok za podporami). Dla kobiet dopuszcza się wejście do podporu z możliwością oparcia nóg
            o przednie podpory.
        </li>
        <li>
            <strong>Naprzemianstronne przeskoki obunóż:</strong>
            wzdłuż ławeczki z piłką lekarską (3 kg) (min. 3 przeskoki)
            i bieg do mety z piłką.
        </li>
    </ul>
</div>
<p>
    <img src="/Pictures/Rygory/BTS.png" style="width: 800px; height: auto;">
</p>
<div>
    <h3>Pokonywanie przeszkód Biegowego Testu Zwinnościowego (Rys. 5)</h3>
    <p>
        Biegowy Test Zwinnościowy zasadniczo pokonuje się na zewnętrznym torze przeszkód.
        W przypadku braku takiej możliwości – w małej hali nr 59 (sprzęt rozstawiony zgodnie z rys. 6).
    </p>
    <p>
        Na komendę <strong>„Start”</strong> lub sygnał dźwiękowy ćwiczący rozpoczyna bieg, wykonując:
    </p>
    <ul>
        <li>
            <strong>Bieg zygzakiem:</strong>
            jednokrotne pokonanie koperty z obiegnięciem końcowej chorągiewki.
        </li>
        <li>
            <strong>Wymyk na drążku wysokim:</strong>
            z wyskoku lub zwisu (mężczyźni – 220 cm, kobiety – 180 cm).
        </li>
        <li>
            <strong>Przewrót w przód:</strong>
            na materacu.
        </li>
        <li>
            <strong>Przejście po odwróconej ławeczce gimnastycznej:</strong>
            minimum długość ławeczki 3 m, z co najmniej dwukrotnym kontaktem stóp.
        </li>
        <li>
            <strong>Przewrót w tył:</strong>
            na materacu.
        </li>
        <li>
            <strong>Zmiana dwóch piłek lekarskich:</strong>
            w strefie 3 m.
        </li>
        <li>
            <strong>Skok kuczny:</strong>
            przez 5 części skrzyni wszerz (kobiety – 4 części skrzyni).
        </li>
        <li>
            <strong>Przewrót w przód:</strong>
            na materacu.
        </li>
        <li>
            <strong>Dobiegnięcie:</strong>
            4 m do mety.
        </li>
    </ul>
</div>


<p>
    <img src="/Pictures/Rygory/BTZ.png" style="width: 800px; height: auto;">
</p>