<h1>Podciąganie na drążku – mężczyźni</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia – 220 cm
    (w uzasadnionych przypadkach można zmienić wysokość drążka, ale tak by umożliwił on
    wykonanie zwisu o wyprostowanych ramionach bez kontaktu z podłożem). Na komendę
    „Gotów” ćwiczący żołnierz wykonuje zwis nachwytem o ramionach wyprostowanych w
    stawach łokciowych – pozycja wyjściowa. Na komendę „Ćwicz” podciąga się tak, aby broda
    znalazła się powyżej prężnika drążka, wraca do pozycji wyjściowej, następnie ponawia
    ćwiczenie. Oceniający (kontrolujący) głośno podaje liczbę zaliczonych podciągnięć. Jeżeli
    ćwiczący nie wykona ćwiczenia zgodnie z opisem, np. nie podciągnie się do wymaganej
    pozycji lub nie wróci do zwisu o ramionach wyprostowanych w stawach łokciowych,
    oceniający powtarza ostatnią liczbę zaliczonych podciągnięć.

</p>
<p>
    <img src="/Pictures/Rygory/POD.png" style="width: 800px; height: auto;">
</p>

<h1>Podciąganie na drążku – kobiety</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia – 200 cm
    (w uzasadnionych przypadkach można zmienić wysokość drążka, ale tak by umożliwił on
    wykonanie zwisu o wyprostowanych ramionach bez kontaktu z podłożem). Na komendę
    „Gotów” ćwicząca wykonuje zwis nachwytem o ramionach wyprostowanych w stawach
    łokciowych – pozycja wyjściowa. Na komendę „Ćwicz” podciąga się tak, aby broda znalazła
    się powyżej prężnika, wraca do pozycji wyjściowej, następnie ponawia ćwiczenie. Oceniający
    głośno podaje liczbę zaliczonych podciągnięć. Jeżeli ćwicząca nie wykona ćwiczenia zgodnie
    z opisem, np. nie podciągnie się do wymaganej pozycji lub nie wróci do zwisu o ramionach
    wyprostowanych w stawach łokciowych, oceniający powtarza ostatnią liczbę zaliczonych
    podciągnięć.
</p>

<h1>
    Podciąganie na drążku ze stania zwieszonego - kobiety
</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia – 200 cm
    (w uzasadnionych przypadkach można zmienić wysokość drążka, ale tak by umożliwił on
    wykonanie stania zwieszonego o wyprostowanych ramionach). Na komendę „Gotów”
    ćwicząca wykonuje stanie zwieszone, nachwytem. Na komendę „Ćwicz” podciąga się tak, aby
    broda znalazła się powyżej prężnika, i wraca do pozycji wyjściowej. Jeżeli ćwicząca nie
    wykona ćwiczenia zgodnie z opisem, np. nie podciągnie się do wymaganej pozycji, ćwiczenia
    nie zalicza się.
</p>
<h1>
    Zwis na drążku o ugiętych ramionach
</h1>
<p>
    Próba odbywa się na drążku umieszczonym na wysokości dosiężnej. Ćwicząca chwyta drążek
    nachwytem palcami od góry i kciukiem od dołu o ramionach ugiętych, tak aby jej broda
    znalazła się powyżej drążka. Dłonie winny znajdować się na szerokości barków. Pomiar czasu
    wykonania próby rozpoczyna się w chwili, gdy ćwicząca samodzielnie wykona zwis na drążku
    o ramionach ugiętych, a kończy się kiedy jej broda znajdzie się poniżej drążka lub ćwicząca
    oprze brodę na drążku.

</p>
<h1>
    Wymyk na drążku (ze zwisu)
</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia – 220 cm
    (w uzasadnionych przypadkach można zmienić wysokość drążka, ale tak by umożliwił on
    wykonanie zwisu o wyprostowanych ramionach bez kontaktu z podłożem). Na komendę
    „Gotów” ćwiczący wykonuje zwis nachwytem o ramionach wyprostowanych w stawach
    łokciowych – pozycja wyjściowa. Na komendę „Ćwicz” przechodzi ze zwisu do podporu
    przodem na drążku, dążąc nogami w górę w tył ponad prężnikiem i od razu wraca do pozycji
    wyjściowej, następnie ponawia ćwiczenie. Oceniający głośno podaje liczbę zaliczonych
    powtórzeń. Ćwiczenie wykonuje się w jednym ciągu (bez przerw między kolejnymi
    powtórzeniami). Jeżeli ćwiczący nie wykona ćwiczenia zgodnie z opisem, oceniający podaje
    ostatnią liczbę zaliczonych powtórzeń.
</p>
<p>
    <img src="/Pictures/Rygory/WYM.png" style="width: 800px; height: auto;">
</p>
<h1>
    Wymyk na drążku ze stania zwieszonego
</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia dla kobiet -
    200 cm (w uzasadnionych przypadkach można zmienić wysokość drążka, ale tak by umożliwił
    on wykonanie stania zwieszonego o wyprostowanych ramionach). Na komendę „Gotów”
    ćwicząca wykonuje stanie zwieszone pod drążkiem – pozycja wyjściowa. Na komendę
    „Ćwicz” przechodzi ze stania zwieszonego do podporu przodem na drążku, dążąc nogami w
    górę w tył ponad prężnikiem i od razu wraca do pozycji wyjściowej. Jeżeli ćwicząca nie
    wykona ćwiczenia zgodnie z opisem, oceniający nie zalicza próby.
</p>
<h1>
    Wymyk na drążku z rozbiegu
</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia dla kobiet -
    160 cm, dla mężczyzn – 200 cm. Na komendę „Gotów” ćwiczący/a zajmuje miejsce do
    wykonania rozbiegu do drążka. Na komendę „Ćwicz” po wykonaniu rozbiegu przechodzi
    odbiciem z nóg do podporu przodem na drążku, dążąc nogami w górę w tył ponad prężnikiem
    i od razu wraca do pozycji wyjściowej. Jeżeli ćwiczący/a nie wykona ćwiczenia zgodnie
    z opisem, oceniający nie zalicza ćwiczenia.

</p>
<h1>
    Wspieranie siłą do podporu przodem na drążku ze zwisu
</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia – 220 cm
    (w uzasadnionych przypadkach można zmienić wysokość drążka, ale tak by umożliwił on
    wykonanie zwisu o wyprostowanych ramionach bez kontaktu z podłożem). Na komendę
    „Gotów” ćwiczący wykonuje zwis nachwytem o ramionach wyprostowanych w stawach
    łokciowych – pozycja wyjściowa. Na komendę „Ćwicz” przechodzi ze zwisu do podporu
    przodem na drążku, dążąc głową w górę za pomocą ugięcia, a następnie wyprostu ramion
    (dopuszcza się wykonanie ćwiczenia mając wyprostowane ramiona, dopuszcza się wykonanie
    wspierania naprzemianrącz) i od razu wraca do pozycji wyjściowej w dowolny sposób,
    następnie ponawia ćwiczenie. Oceniający głośno podaje liczbę zaliczonych powtórzeń.
    Ćwiczenie wykonuje się w jednym ciągu (bez przerw między kolejnymi powtórzeniami). Jeżeli
    ćwiczący nie wykona ćwiczenia zgodnie z opisem, oceniający podaje ostatnią liczbę
    zaliczonych powtórzeń.
</p>
<p>
    <img src="/Pictures/Rygory/R9.png" style="width: 800px; height: auto;">
</p>

<h1>
    Wspieranie siłą do podporu przodem na drążku z wyskoku
</h1>
<p>
    Odbywa się w stroju sportowym. Wysokość drążka do wykonania ćwiczenia – 200 cm. Na
    komendę „Gotów” ćwiczący wykonuje stanie zwieszone nachwytem o ramionach
    wyprostowanych w stawach łokciowych – pozycja wyjściowa. Na komendę „Ćwicz”
    przechodzi ze stania zwieszonego, odbiciem z nóg do podporu przodem na drążku, dążąc głową
    w górę za pomocą ugięcia, a następnie wyprostu ramion (dopuszcza się wykonanie ćwiczenia
    mając wyprostowane ramiona, dopuszcza się wykonanie wspierania naprzemianrącz) i od razu
    wraca do pozycji wyjściowej w dowolny sposób. Jeżeli ćwiczący nie wykona ćwiczenia
    zgodnie z opisem, oceniający nie zalicza próby.
</p>
