<h2>Ćwiczenia wolne</h2>
<p>
    Wykonuje się w stroju sportowym na Sali sportowej z drabinkami gimnastycznymi. Tor
    ustawia się dostawiając do drabinki gimnastycznej ścieżkę z trzech materacy gimnastycznych
    ustawionych wzdłuż.
</p>
    <h3>Wykonywane czynności</h3>
    <ul>
        <li>
            <strong>Dostatecznie:</strong>
            Z półprzysiadu dwa przewroty w przód.
        </li>
        <li>
            <strong>Dobrze:</strong>
            Z uniku podpartego prawą (lewą) nogą stanie na rękach z oparciem stóp o drabinki
            (wytrzymać 3 sekundy), powrót do postawy.
        </li>
        <li>
            <strong>Bardzo dobrze:</strong>
            Z przysiadu podpartego wykonać stanie na głowie (wytrzymać 3 sekundy), przysiad podparty.
        </li>
    </ul>
<p>
    <img src="/Pictures/Rygory/R10.png" style="width: 800px; height: auto;">
</p>
<h1>Gimnastyka – skoki przez skrzynię</h1>
<p>
    Wykonuje się w stroju sportowym na Sali sportowej. Mężczyźni wykonują skoki przez 5 części
    skrzyni. Kobiety wykonują skoki przez 4 części skrzyni. Skok odwrotny wykonuje się bez
    użycia odskoczni. Skoki kuczny i rozkroczny wykonuje się z użyciem odskoczni.
</p>
    <h3>Wykonywane czynności</h3>
    <ul>
        <li>
            <strong>Dostatecznie:</strong>
            Z rozbiegu na wskos, odbiciem jednonóż, skok odwrotny przez skrzynię wszerz.
        </li>
        <li>
            <strong>Dobrze:</strong>
            Z rozbiegu odbiciem obunóż, skok kuczny przez skrzynię wszerz.
        </li>
        <li>
            <strong>Bardzo dobrze:</strong>
            Z rozbiegu odbiciem obunóż, skok rozkroczny przez skrzynię wzdłuż.
        </li>
    </ul>
<p>
    <img src="/Pictures/Rygory/R11.png" style="width: 800px; height: auto;">
</p>