<div>
    <h3>Pokonywanie przeszkód Lądowego Toru Przeszkód (Rys. 2)</h3>
    <p>Ćwiczący pokonuje kolejno następujące przeszkody:</p>
    <ol>
        <li><strong>Drabinka linowa (1):</strong> Przekroczyć górną belkę i zejść przy pomocy drabiny.</li>
        <li><strong>Podwójna belka (2):</strong> Wskoczyć na pierwszą belkę, następnie mieć kontakt z ziemią między dwoma belkami i przeskoczyć drugą belkę.</li>
        <li><strong>Druty (gumy) (3):</strong> Przeskoczyć każdy z drutów (gum) po kolei w dowolny sposób. Dotknięcie czy szarpnięcie drutu (gumy) jest dozwolone, jednakże przemyślne nadepnięcie na drut (gumę) jest zabronione.</li>
        <li><strong>Druciana sieć (4):</strong> Dowolnie pod drutami.</li>
        <li><strong>Bród (5):</strong> Pokonać bród przeskakując tylko po klockach. Zabroniony jest kontakt z gruntem pomiędzy linami ograniczającymi bród. W przypadku kontaktu z gruntem zawodnik rozpocznie pokonywanie przeszkody od linii początkowej.</li>
        <li><strong>Płotek (6):</strong> W dowolny sposób tak, aby najwyższa belka została przekroczona.</li>
        <li><strong>Równoważnia (7):</strong> Wejść na równoważnię, pokonać ją wzdłuż. Na jej końcu zeskoczyć na ziemię za linią końcową.</li>
        <li><strong>Pochyła ściana z liną (8):</strong> W dowolny sposób, z użyciem lub bez użycia liny. Osiągnąć szczyt ściany i zeskoczyć na specjalnie przygotowany zeskok.</li>
        <li><strong>Poziome belki (9):</strong> Pokonać belki w sposób: nad - pod - nad - pod w dowolny sposób.</li>
        <li><strong>Stół Irlandzki (10):</strong> W dowolny sposób, który pozwala pokonać przeszkodę górą w kierunku biegu bez korzystania z pionowych słupków.</li>
        <li><strong>Tunel i podwójna belka (11):</strong> Przejść przez tunel, przeskoczyć pierwszą belkę, przejść pod drugą belką.</li>
        <li><strong>Cztery belki (12):</strong> Wskoczyć i przejść po wszystkich belkach (dozwolone jest korzystanie z drewnianej kładki).</li>
        <li><strong>Wał z rowem (13):</strong> W dowolny sposób górą.</li>
        <li><strong>Ściana (14):</strong> W dowolny sposób górą.</li>
        <li><strong>Dół (15):</strong> Wskoczyć do dołu, następnie wydostać się z niego.</li>
        <li><strong>Drabina (16):</strong> Przekroczyć górną belkę i zejść przy pomocy drabiny.</li>
        <li><strong>Ściana (17):</strong> W dowolny sposób górą.</li>
        <li><strong>Belka równowagi (18):</strong> Wejść na pierwszą belkę, przejść po kolejnych belkach i zeskoczyć za linią końcową.</li>
        <li><strong>Szykana (19):</strong> Przebiec przez szykanę. Wspieranie się jest dozwolone.</li>
        <li><strong>Trzy ściany zaporowe (20):</strong> Przeskoczyć wszystkie trzy ściany w dowolny sposób górą.</li>
    </ol>

    <h4>Kobiety:</h4>
    <ul>
        <li>Nie pokonują przeszkody nr 1, 8, 12, 16.</li>
        <li>Przeszkody nr 10, 15 i 17 pokonują przy pomocy przenośnych podstawek.</li>
    </ul>

    <h4>Mężczyźni:</h4>
    <ul>
        <li>Nie pokonują przeszkody nr 8.</li>
    </ul>
</div>
<p>
    <img src="/Pictures/Rygory/LTP.png" style="width: 800px; height: auto;">
</p>