<div class="container">
    <!-- Wyświetlanie tekstu -->
    <div class="text-content">
        <p>
            Warunkiem uzyskania oceny dostatecznej jest aktywny udział w zajęciach programowych
            z wychowania fizycznego, rozliczenie nieobecności na zajęciach i podejście do wszystkich
            prób sprawnościowych.
        </p>
        <p>
            Zaliczenie odbywają się zgodnie z wytycznymi Międzynarodowego Testu Sprawności
            Fizycznej (MTSF).
            Wynik próby zamieniany jest na punkty wg skali MTSF (Załącznik nr 2). Suma punktów
            trzech prób jest oceną sprawności według poniższych kryteriów:
        </p>
        <ul>
            <li>
                <strong>bardzo dobry (bdb):</strong> 5 → 180 pkt i powyżej
            </li>
            <li><strong>dobry plus (db+):</strong> 4,5 → 171 – 179 pkt </li>
            <li><strong>dobry (db):</strong> 4 → 155 – 170 pkt </li>
            <li><strong>dostateczny plus (dst+):</strong> 3,5 → 133 – 154 pkt</li>
            <li><strong>dostateczny (dst):</strong> 3 → 45 – 132 pkt</li>
            <li><strong>niedostateczny (ndst):</strong> 2 → 44 pkt i poniżej </li>
        </ul>
        <p>
            Członkowie sekcji sportowych WAT mogą ubiegać się o zwolnienie z zajęć z wychowania
            fizycznego z oceną bardzo dobrą. Pisemny wniosek w tej sprawie, zaopiniowany
            przez trenera sekcji sportowej należy złożyć do Kierownika SWF w terminie do 14 dni
            od rozpoczęcia semestru zgodnie z harmonogramem roku akademickiego.

        </p>
        <p>
            <img src="/Pictures/Rygory/2022C.png" style="width: 800px; height: auto;">
        </p>
    </div>

    <style>
        .semestr-menu {
            margin-top: 20px;
        }

        #semester-select {
            width: 100%; /* Szerokość dostosowana do kontenera */
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #f8f9fa;
            transition: all 0.3s ease-in-out;
        }

            #semester-select:focus {
                border-color: #007bff;
                outline: none;
            }

    </style>
