<div>
    <h3>Pokonywanie przeszkód Ośrodka Sprawności Fizycznej (Rys. 1)</h3>
    <p>Ćwiczący wykonuje kolejno następujące czynności:</p>
    <ul>
        <li>rozpoczyna bieg ze stanowiska wyjściowego;</li>
        <li>pokonuje sklepienia wieloskokami (na ocenę dostateczną dopuszcza się pokonanie sklepień slalomem);</li>
        <li>przeskakuje rów (na ocenę dostateczną w dowolnym miejscu na całej jego szerokości);</li>
        <li>wbiega na pochylnię, chwyta linę, przejeżdża na kładkę ruchomą i przebiega po niej (na ocenę dostateczną dopuszcza się kontakt nogi z podłożem);</li>
        <li>pokonuje płot górą (kobiety z pomocą podestu);</li>
        <li>wskakuje na przedni krąg, grzybek, krąg tylny;</li>
        <li>przeczołguje się przez tunel;</li>
        <li>przechodzi w podporze na ramionach wzdłuż poręczy, rozpoczynając przed przednimi podporami i kończąc za tylnymi podporami (kobiety pokonują poręcze slalomem);</li>
        <li>pokonuje ściankę na fosie górą;</li>
        <li>wspina się za pomocą liny na parapet górnego okna fasady, przebiega po równoważni, zeskakuje po progach (kobiety wspinają się po linie lub wchodzą po osękach na parapet górnego okna; na ocenę dostateczną dopuszcza się pokonanie fasady dolnym oknem);</li>
        <li>przebiega po spadni;</li>
        <li>kończy bieg w wyznaczonym miejscu (na wysokości stanowiska końcowego).</li>
    </ul>

    <h4>Dodatkowe ustalenia:</h4>
    <ul>
        <li>Jeżeli przeszkoda nie zostanie pokonana właściwie, ćwiczący – po komendzie „WRÓĆ” – pokonuje ją od początku (niewykonanie komendy powoduje niezaliczenie biegu).</li>
        <li>Pozycja startowa na stanowisku wyjściowym: kontakt nogi z podłożem, głowa poniżej górnej krawędzi stanowiska.</li>
        <li>Sklepienia uważa się za pokonane, jeżeli ćwiczący dotknie nogą (nogami) każdego z nich (kontakt ćwiczącego jakąkolwiek częścią ciała z podłożem podczas pokonywania sklepień powoduje niezaliczenie przeszkody).</li>
        <li>Rów pokonuje się między chorągiewkami ustawionymi na jego szerokości równej 3 m, na ocenę dostateczną w dowolnym miejscu na całej jego szerokości (nieudany przeskok, np. dotknięcie jakąkolwiek częścią ciała dna rowu, spowoduje niezaliczenie przeszkody).</li>
        <li>Podczas przemieszczania się przy pomocy liny na ruchomą kładkę i przebiegania po niej ćwiczący nie może mieć kontaktu z podłożem, a pokonując kładkę musi przemieścić się między łańcuchami nośnymi (w razie błędu, ćwiczący powtórnie pokonuje przeszkodę od wbiegnięcia na pochylnię).</li>
        <li>Linę służącą do pokonania kładki podaje ćwiczącemu inny żołnierz.</li>
        <li>Podczas pokonywania płotu zabroniony jest kontakt rękoma z jakąkolwiek częścią konstrukcji powyżej górnej krawędzi płotu, kobiety pokonują płot z pomocą podwyższenia o wysokości równej wysokości dwóch części skrzyni.</li>
        <li>Pokonywanie poręczy: ćwiczący wyskakuje do podporu chwytając oburącz przednie końcówki żerdzi tak, aby każda z dłoni dotykała oznaczonej części początkowej żerdzi, następnie przemieszcza się w podporze po żerdziach (na przemian lewą i prawą ręką lub podskokami z odbicia oburącz) tak, aby znaleźć się w podporze trzymając oburącz oznaczone końcowe części żerdzi (ćwiczący nie może od razu przeskoczyć z przednich na tylne końcówki żerdzi, lecz musi wykonać minimum jeden podpór w środkowej ich części), kobiety pokonują poręcze slalomem.</li>
        <li>W czasie przemieszczania się po żerdziach w podporze, gdy ćwiczący opiera się na ramionach lub znajduje w zwisie, a następnie wydźwignie się do podporu, może kontynuować ćwiczenie, jeżeli nie miał kontaktu z podłożem.</li>
        <li>Pokonanie poręczy ślizgiem po żerdziach oraz opierając się na ramionach lub przedramionach jest niedozwolone.</li>
        <li>Ścianki z fosą nie można pokonywać przeskokiem wolnym i bezpośrednim naskokiem na górną żerdź (kontakt z dnem przedniej lub tylnej fosy w czasie jej pokonywania powoduje niezaliczenie przeszkody), dopuszcza się naskok na betonową ściankę pod dolną belką.</li>
        <li>Ćwiczący dobiegając do fasady chwyta linę oburącz, a następnie wspina się za jej pomocą – w dowolny sposób – na górne okno fasady (może również naskoczyć na fasadę z jednoczesnym chwytem liny oburącz i kontynuować wspinanie na jej górne okno).</li>
        <li>Ćwiczący może chwycić futrynę górnego okna fasady tylko wówczas, gdy jedną nogę oprze na parapecie tego okna.</li>
        <li>Zeskok z równoważni fasady bez kontaktu nogą (nogami) z dwoma progami za fasadą powoduje niezaliczenie przeszkody.</li>
        <li>Podczas pokonywania spadni, zeskok musi nastąpić za rurą podporową bez dotykania jej.</li>
    </ul>
</div>
<p>
    <img src="/Pictures/Rygory/OSF.png" style="width: 800px; height: auto;">
</p>